* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: darkslateblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a {
  text-decoration: none;
  color: #fff;
  margin: 1rem;
}
.d-none {
  display: none;
}